* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 2em;
    align-items: center;
    justify-content: space-around;
}

.navbar-logo {
    justify-content: flex-end;
    margin-right: 3em;
    margin-left: 1em;
}

.navbar-search {
    display: flex;
    flex-direction: row;
    order: 2;
    align-items: center;
    border: 1px solid black;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    width: 43em;
    height: 3em;
}

.navbar-search:hover {
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.50);
}

.navbar-input {
    display: flex;
    flex-direction: row;
    width: 40em;
    justify-content: space-between;
    align-items: center;
}

.navbar-account {
    
}

#clear-btn {
    width: 40px;
    height: auto;
    color: gray;
}

#google-logo {
    width: 100px;
    height: auto;
}

#search-icon {
    width: 20px;
    height: auto;
    color: #4d8cf4;
    padding-left: 1em;
}

input {
    border-color: transparent;
    border-radius: 24px;
    width: 39em;
    height: 2.9em;
}

input:focus {
    outline: none;
}