* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 2em;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navbar-logo {
    justify-content: flex-end;
    margin-right: 3em;
    margin-left: 1em;
}

.navbar-search {
    display: flex;
    flex-direction: row;
    order: 2;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    width: 43em;
    height: 3em;
}

.navbar-search:hover {
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.50);
}

.navbar-input {
    display: flex;
    flex-direction: row;
    width: 40em;
    justify-content: space-between;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 40em;
    padding-top: 0.74em;
    margin-left: 10vw;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    color: #80868b;
    margin-bottom: 0;
}

.tool {
    transition: 0.3s;
}

.tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 1em;
    margin-bottom: 0;
}

#toolbar-icon {
    padding-right: 5px;
}

.tool:hover {
    color: black;
    cursor: pointer;
}

#clear-btn {
    width: 40px;
    height: auto;
    color: gray;
}

#google-logo {
    width: 100px;
    height: auto;
}

#search-icon {
    width: 20px;
    height: auto;
    color: #4d8cf4;
    padding-left: 1em;
}

.grid-icon {
    order: 2;
    margin-left: 45vw;
    color: #80868b;
}

#grid-icon {
    width: 20px;
    height: auto;
}

.sign-in {
    order: 3;
    margin-left: 2em;
}

#sign-in-button {
    padding: 0.5em;
    background-color: #4285f4;
    border-color: #4285f4;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 8em;
}

#sign-in-button:hover {
    background-color: #699ae9;
    border-color: #699ae9;
}

input {
    border-color: transparent;
    border-radius: 24px;
    width: 39em;
    height: 2.9em;
}

input:focus {
    outline: none;
}

#header-border {

}

header {
    position: fixed;
    background-color: white;
    top: 0;
    border-bottom: 1px solid #80868b;
}

#nav-settings {
    margin-left: 4em;
}

.result-info {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    padding-top: 9em;
    color: gray;
}

.results {
    display: flex;
    flex-direction: column;
    width: 41em;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-top: 1em;
}

#results-url {
    margin: 0;
}

#link-header {
    margin: 0;
    color: #2216ae;
}

#link-header:hover {
    cursor: pointer;
    text-decoration: underline;
}

#results-preview {
    margin: 0;
}

.also-ask-group {
    display: flex;
    flex-direction: column;
    width: 41em;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-top: 1em;
    border-bottom: 1px solid gray;
}

#also-ask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0.75em;
    border-top: 1px solid gray;
}

#also-ask-preview {
    padding: 0;
    margin: 0;
}

#also-ask-content {
    display: none;
    position: relative;
    margin-left: 1em;
}

button {
    font-size: 100%;
    font-family: inherit;
    background-color: white;
    color: black;
    border: 0;
    padding: 0;
    cursor: pointer;
}

button:focus + #also-ask-content {
    display: block;
}