* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 2em;
    align-items: center;
}

.navbar-logo {
    justify-content: flex-end;
    margin-right: 4em;
}

.navbar-search {
    order: 2;
    border: 1px solid black;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    width: 15em;
    height: 2em;
}

.navbar-search:hover {
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.50);
}

.navbar-input {

}

.navbar-account {
    justify-content: flex-end;
}