* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 2em;
    align-items: center;
}

.navbar-logo {
    justify-content: flex-end;
    margin-right: 4em;
}

.navbar-search {
    display: flex;
    flex-direction: row;
    order: 2;
    border: 1px solid black;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    width: 43em;
    height: 3em;
}

.navbar-search:hover {
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.50);
}

.navbar-input {
    display: flex;
    flex-direction: row;
    width: 40em;
    justify-content: space-between;
    align-items: center;
}

.navbar-account {
    justify-content: flex-end;
}

#clear-btn {
    width: 50px;
    height: auto;
}

#google-logo {
    width: 100px;
    height: auto;
}

input {
    border-color: transparent;
    border-radius: 24px;
    width: 39em;
    height: 2.9em;
}