* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 2em;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
}

.navbar-logo {
    justify-content: flex-end;
    margin-right: 3em;
    margin-left: 1em;
}

.navbar-search {
    display: flex;
    flex-direction: row;
    order: 2;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    width: 43em;
    height: 3em;
}

.navbar-search:hover {
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.50);
}

.navbar-input {
    display: flex;
    flex-direction: row;
    width: 40em;
    justify-content: space-between;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 40em;
    padding-top: 0.74em;
    margin-left: 10vw;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
}

.tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 0.5em;
}

#clear-btn {
    width: 40px;
    height: auto;
    color: gray;
}

#google-logo {
    width: 100px;
    height: auto;
}

#search-icon {
    width: 20px;
    height: auto;
    color: #4d8cf4;
    padding-left: 1em;
}

.grid-icon {
    order: 2;
    margin-left: 45vw;
    color: #80868b;
}

#grid-icon {
    width: 20px;
    height: auto;
}

.sign-in {
    order: 3;
    margin-left: 2em;
}

#sign-in-button {
    padding: 0.5em;
    background-color: #4285f4;
    border-color: #4285f4;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 8em;
}

#sign-in-button:hover {
    background-color: #699ae9;
    border-color: #699ae9;
}

input {
    border-color: transparent;
    border-radius: 24px;
    width: 39em;
    height: 2.9em;
}

input:focus {
    outline: none;
}